<h1><%= @cottage.name %></h1>

<hr />

<span>Color:</span>
<span><%= @cottage.color %></span>
<br />

<span>Square footage:</span>
<span><%= @cottage.sq_footage %></span>
<br />

<span>Price:</span>
<span><%= @cottage.price %></span>
<br />
